* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: 50%;
    column-gap: 2em;
    row-gap: 1em;
    margin: 3rem;
}

.imageGallery img {
    width: 100%;
}