@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --menu_font_color: rgb(114, 114, 114);
    --menu_button_color: rgb(149, 124, 195);
    --menu_background_color: rgb(236, 236, 236);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--menu_background_color);
}

header section {
    display: fixed;
    padding-right: 2rem;
    font-size: 2rem;
    justify-content: flex-start;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 1.8rem;
}

header nav ul li {
    list-style: none;
    padding: 0 0.8rem;
}

header nav ul li a {
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--menu_font_color);
    cursor: pointer;
    transition: font-size border 0.3s ease-in-out;
}

header nav ul li a:hover {
    font-size: 1rem;
    border-bottom: 2px solid black;
}

header .nav_btn button {
    width: 8rem;
    height: 2rem;
    border: none;
    background-color: var(--menu_button_color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

header .nav_btn button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header .nav_btn button:hover {
    transform: translateY(-5px);
}

/* ========Hamberger======= */
header .burger_menu {
    display: none;
    cursor: pointer;
}

header .burger_menu div {
    background-color: var(--menu_font_color);
    width: 2rem;
    height: 0.4rem;
    margin: 0.4rem;
}

/* Helper css for javascript on toggle effect */
.burger_menu_active {
    transform: translateY(0%);
}

/* Meida query for Menu */
@media (max-width: 1000px) {
    body {
        overflow: hidden;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 4.5rem;
        width: 100%;
        background-color: antiquewhite;
        transform: translateY(-150%);
        transition: transform 0.8s ease-in-out;
    }
    header nav ul li {
        opacity: 1;
        padding: .5rem 0;
    }
    header .burger_menu {
        display: block;
    }
}
