* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h3 {
    background-color: aqua;
    padding-right: 4em;
}

header nav ul {
    display: flex;
    background-color: red;
    justify-content: space-around;
    
}

header nav ul li {
    text-decoration: none;
    list-style: none;
    /* padding: 0 1.1rem; */
}

header nav .nav_btn {
}