@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

:root {
    --main_logo_color: #2DB400;
    --font_color: rgb(61, 61, 61);
    --gray_font_color: rgb(122, 122, 122);
    --line_divider_color: rgb(182, 182, 182);
    --news_highlights_color: rgb(230, 228, 228);
    --news_font_color: rgb(51, 51, 255);
    --media_grid_line: rgb(216, 216, 216);
    --entertain_font_color: #E784BA;
    --signin_background_color: rgb(246, 246, 246);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ========================== */
/* Naver Search Bar with Logo */

/* Todo: Reduce the search bar size */

/* ========================== */
/* .first_section {
    width: 100%;
    margin-left: 10%;
} */
section > .first_side {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 80%;
    margin: 2rem auto;
}

section > .first_side > p {
    font-size: 1.1rem;
    color: var(--font_color);
    font-weight: bold;
    cursor: pointer;
}

section > .first_side > p:hover {
    text-decoration-line: underline;
}

section > .first_side > p > i {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    color: white;
    box-shadow: 1px 2.5px 1.5px 1.5px rgb(129, 129, 129);
    background-color: rgb(114, 114, 114);
    border-radius: 1rem;
}

section > .first_side > span { 
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

section > .first_side > .junior_naver {
    color: var(--gray_font_color);
    font-weight: bold;
    margin-right: 0.5rem;
}

section > .first_side > .happy_bean {
    color: var(--gray_font_color);
    font-weight: bold;
}

section > .first_side > .happy_bean:hover {
    color: var(--main_logo_color);
}

section > .main_logo {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 30% 70%; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

section > .main_logo > img {
    width: 280px;
    cursor: pointer;
}

section > .main_logo > #main_search_bar {
    margin-left: 2rem;
    position: relative;
    margin-left: 0;
    width: 60%;
}

section > .main_logo > #main_search_bar > input[type=text] {
    margin-top: 1rem;
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--main_logo_color);
}

section > .main_logo > #main_search_bar > i {
    margin: 0.5rem;
    font-size: 2rem;
    position: absolute;
}

section > .main_logo > #main_search_bar > .fa-keyboard {
    top: 30%;
    right: 15%;
    color: var(--gray_font_color);
    cursor: pointer;
}

section > .main_logo > #main_search_bar > .fa-caret-down {
    top: 30%;
    right: 10%;
    color: var(--main_logo_color);
    cursor: pointer;
}

section > .main_logo > #main_search_bar > div {
    position: absolute;
    background-color: var(--main_logo_color);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: white;
    top: 20%;
    right: 0;
}
section > .main_logo > #main_search_bar > div > .fa-search {
    margin-top: 25%;
    cursor: pointer;
}
/* ========================== */
/* End Naver Search Bar with Logo */
/* ========================== */

.section_divider {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 1rem;
    background-color: var(--line_divider_color);
}

/* ========================== */
/* Line Options Start */
/* ========================== */
section {
    width: 85%;
    margin: 0.2rem auto;
}

section > .main_option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section > .main_option > .option_green {
    color: var(--main_logo_color);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

section > .main_option > .option_black {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

section > .main_option > .option_more {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    cursor: pointer;
}

section > .main_option > .option_more > p > i {
    color: var(--gray_font_color);
}

section > .main_option > .filter_more {
    cursor: pointer;
}

section > .main_option > .filter_more > p > i {
    color: var(--gray_font_color);
    margin-left: 0.3rem;
    margin-right: 0.1rem;
}

/* ========================== */
/* End Line Options Start */
/* ========================== */

.section_divider_bottom {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var(--line_divider_color);
}

/* ========================== */
/* Main Content Start */
/* ========================== */

.main_section {
    display: grid;
    grid-template-columns: 65% 35%;
}

.main_section > .main_content > .covid_banner img {
    width: 100%;
    height: 10rem;
}

.main_section > .main_content > .news_highlights {
    display: flex;
    justify-content: space-between;
    background-color: var(--news_highlights_color);
    width: 100%;
    height: 3rem;
    margin: 0.5rem auto;
    padding: 1rem;
    box-shadow: inset 2px 2px 2px rgb(216, 216, 216);
}

.main_section > .main_content > .news_highlights > .news_hl_left > .main_news {
    flex: 1;
    font-weight: bold;
}

.main_section > .main_content > .news_highlights > .news_hl_left > p > .dynamic_news {
    margin-left: 0.5rem;
    color: var(--gray_font_color);
    
}

.main_section > .main_content > .news_highlights > .news_hl_right > .news_highlights_side_news {
    flex: 1;
    color: var(--news_font_color);
    font-weight: bold;
    cursor: pointer;
}

.main_section > .main_content > .news_highlights > .news_hl_right > .news_highlights_side_news > span {
    font-size: 1rem;
    align-items: center;
    margin: 0rem 1rem;
    color: var(--gray_font_color);
    cursor: pointer;
}
/* ========================================== */
/* ============End News HighLight============ */
/* ========================================== */

/* ========================================== */
/* =============News Media Stand============= */
/* ========================================== */
.main_section > .main_content > .news_stand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_section > .main_content > .news_stand > .news_stand_media {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.main_section > .main_content > .news_stand > .news_stand_media > .fa-newspaper {
    color: var(--news_font_color);
    font-size: 2rem;
    margin-right: 0.5rem;
}

.main_section > .main_content > .news_stand > .news_stand_media p {
    font-weight: bold;
    font-size: 1rem;
}

.main_section > .main_content > .news_stand > .news_stand_media > .fa-chevron-right {
    margin-right: 0.3rem;
}

.main_section > .main_content > .news_stand > .news_stand_media > .media_gray {
    color: var(--gray_font_color);
    margin-right: 0.4rem;
}

.main_section > .main_content > .news_stand > .news_stand_view_options {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.main_section > .main_content > .news_stand > .news_stand_view_options > i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.main_section > .main_content > .news_stand > .news_stand_view_options > .fa-th-large {
    color: var(--news_font_color);
}

.main_section > .main_content > .media_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    position: relative;
}
/* Todo: Add javascript slider effect on the icon */
.main_section > .main_content > .media_grid > .fa-chevron-circle-left {
    position: absolute;
    top: 42%;
    left: -2%;
    font-size: 2.0rem;
    cursor: pointer;
}

.main_section > .main_content > .media_grid > img {
    width: 100%;
    height: 5rem;
    padding: 1.2rem;
    border: 0.5px solid var(--media_grid_line);
}
/* Todo: Add javascript slider effect on the icon */
.main_section > .main_content > .media_grid > .fa-chevron-circle-right {
    position: absolute;
    top: 42%;
    right: -2%;
    font-size: 2.0rem;
    cursor: pointer;
}

.main_section > .main_content > .basic_thing_to_read {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
}

.main_section > .main_content > .basic_thing_to_read > .things_to_read_left  p {
    font-weight: bold;
    font-size: 1.1rem;
}   

.main_section > .main_content > .basic_thing_to_read > .things_to_read_left p > span {
    font-weight: normal;
}

.main_section > .main_content > .basic_thing_to_read > .things_to_read_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main_section > .main_content > .basic_thing_to_read > .things_to_read_right p {
    margin-left: 1rem;
    font-weight: bold;
}

.main_section > .main_content > .basic_thing_to_read > .things_to_read_right p > .gray_font
, .main_section > .main_content > .basic_thing_to_read > .things_to_read_right > span
, .main_section > .main_content > .basic_thing_to_read > .things_to_read_right > .favorite_filter
{
    color: var(--gray_font_color);
    margin-right: 0.5rem;
}
/* ===================================== */
/* =====End Basic Things to Read======== */
/* ===================================== */

/* ===================================== */
/* =====Start Option_things_to_read======*/
/* ===================================== */
.main_section > .main_content > .option_things_to_read {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

.main_section > .main_content > .option_things_to_read div {
    border: 0.5px solid var(--media_grid_line);
    padding: 1.0rem;
    font-weight: bold;
    cursor: pointer;
}

.main_section > .main_content > .option_things_to_read div a {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.main_section > .main_content > .option_things_to_read > .read_entertain a:hover {
    color: #E784BA;
}

.main_section > .main_content > .option_things_to_read > .read_sport a:hover {
    color: blue;
}

.main_section > .main_content > .option_things_to_read > .read_vehicle a:hover 
, .main_section > .main_content > .option_things_to_read > .read_game a:hover
{
    color: var(--news_font_color);
}

.main_section > .main_content > .option_things_to_read > .read_webtoon a:hover
,    .main_section > .main_content > .option_things_to_read > .read_economics a:hover
{
    color: var(--main_logo_color);
}

.main_section > .main_content > .option_things_to_read > .read_food a:hover {
    color: #ffb347;
}

.main_section > .main_content > .option_things_to_read > .read_movie a:hover {
    color: #003366;
}

.active_0 {
    background-color: #E784BA;
    color: white;
}

.active_1 {
    background-color: blue;
    color: white;
}

.active_2 {
    background-color: var(--news_font_color);
    color: white;
}

.active_3 {
    background-color: var(--main_logo_color);
    color: white;
}

.active_4 {
    background-color: var(--main_logo_color);
    color: white;
}

.active_5 {
    background-color: #ffb347;
    color: white;
}

.active_6 {
    background-color: var(--news_font_color);
    color: white;
}

.active_7 {
    background-color: #003366;
    color: white;
}

.main_section > .main_content > .option_things_to_read > .fa-chevron-circle-left {
    position: absolute;
    top: 25%;
    left: -2%;
    font-size: 2.0rem;
    cursor: pointer;
}

.main_section > .main_content > .option_things_to_read > .fa-chevron-circle-right {
    position: absolute;
    top: 25%;
    right: -2%;
    font-size: 2.0rem;
    cursor: pointer;
}

/* ===================================== */
/* =====END Option_things_to_read======*/
/* ===================================== */

/* ===================================== */
/* ======= Start Main Content ===========*/
/* ===================================== */

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read {
    list-style: none;
    margin-bottom: 1.5rem;
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > img {
    margin-right: 1rem;
    width: 200px;
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > span {
   margin-right: 2rem; 
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > span > p {
    margin: 0.2rem;
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > span > .content_filter_entertain {
    color: var(--entertain_font_color);
    font-weight: bold;
    font-size: 1.1rem;
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > span > .content_title {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > span > .content_story {
    color: var(--gray_font_color);
}

.main_section > .main_content > .main_content_read > .list_content_read > .content_item_read > a > span > .content_writer {
    font-size: 0.8rem;
    color: var(--gray_font_color);
}

/* ================== */
/* Book Section Start */
/* ================== */

.section_divider_book {
    width: 100%;
}

.main_section > .main_content > .book_contents {
    width: 100%;
}

.main_section > .main_content > .book_contents > .book_section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
} 

.main_section > .main_content > .book_contents > .book_section_header > .left_book_header > .book_section_title > .book_stat_date 
, .main_section > .main_content > .book_contents > .book_section_header > .right_book_header p
{
    color: var(--gray_font_color);
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.main_section > .main_content > .book_contents > .book_lists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3%;
}

.main_section > .main_content > .book_contents > .book_lists > .book_list {
    list-style: none;
}

.main_section > .main_content > .book_contents > .book_lists > .book_list > a {
    text-decoration: none;
}

.main_section > .main_content > .book_contents > .book_lists > .book_list > a > img {
    width: 150px;
    height: 240px;
    margin-bottom: 0.5rem;
    border: 1px solid var(--gray_font_color);
}

.main_section > .main_content > .book_contents > .book_lists > .book_list > a > span > .book_title_container {
    height: 3rem;
}

.main_section > .main_content > .book_contents > .book_lists > .book_list > a > span > .book_title_container > .book_title {
    color: black;
}

.main_section > .main_content > .book_contents > .book_lists > .book_list > a > span > .book_info_container  > .book_info {
    color: var(--gray_font_color);
}

.main_section > .main_content > .book_contents > .book_lists > .book_list > a > span > .book_info_container > .book_info > p > .fa-star {
    color: rgb(255, 45, 45);
    margin-left: 0.2rem;
}

/* ================= */
/* End Book Section  */
/* ================= */

/* ========================= */
/* Start Extra Book Section  */
/* ========================= */
.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra {
    list-style: none;
    margin-bottom: 1rem;
}

.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra > a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra > a > img {
    margin-right: 1rem;
    width: 200px;
}

.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra > a > .right_book_extra_content > .book_extra_category {
    color: var(--main_logo_color);
    font-weight: bold;
    font-size: 1.1rem;
}

.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra > a > .right_book_extra_content > .book_extra_title {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
}

.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra > a > .right_book_extra_content > .book_info {
    color: var(--gray_font_color);
    margin-bottom: 0.2rem;
}

.main_section > .main_content > .book_content_extra_container > .book_contents_extra > .book_content_extra > a > .right_book_extra_content > span > .content_writer {
    color: var(--gray_font_color);
    font-size: 0.8rem;
}
/* ========================= */
/* End Extra Book Section  */
/* ========================= */

/* ========================= */
/* == Start Video Section == */
/* ========================= */
.main_section > .main_content > .video_contents_container {
    display: flex;
    justify-content: space-between;
}

.main_section > .main_content > .video_contents_container > .video_container  > .video {
    width: 260px;
    margin-bottom: 1rem;
}
/* ========================= */
/* == End Video Section == */
/* ========================= */

/* ========================================= */
/* == Start Right Content Sign_in Section == */
/* ========================================= */

.main_section > .side_content {
    margin-left: 2.5rem;
}

.main_section > .side_content > .right_content_signin {
    background-color: var(--signin_background_color);
    width: 100%;
    height: 10rem;
    padding: 1rem;
    border: 1px solid var(--media_grid_line);
    margin-bottom: 0.8rem;
}

.main_section > .side_content > .right_content_signin > span > p {
    font-size: 0.9rem;
}

.main_section > .side_content > .right_content_signin > span > .naver_signin {
    background-color: var(--main_logo_color);
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.main_section > .side_content > .right_content_signin > span > .naver_signin h2 {
    color: white;
    font-weight: bold;
}

.main_section > .side_content > .right_content_signin > span > .naver_signin > h2 > .small_signin {
    font-size: 0.9rem;
}

.main_section > .side_content > .right_content_signin > span > .signin_helper {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.main_section > .side_content > .right_content_signin > span > .signin_helper > span > i {
    color: var(--gray_font_color);
}
/* ========================================= */
/* == End Right Content Sign_in Section == */
/* ========================================= */

/* ========================================= */
/* == Start Weather Information == */
/* ========================================= */
.main_section > .side_content > .info_weather_container {
    width: 100%;
    height: 3rem;
    margin: 0.5rem auto;
    padding: 1rem;
    border: 1px solid var(--media_grid_line);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

/* ========================================= */
/* == End Weather Information == */
/* ========================================= */

/* ========================================= */
/* == Start advertisement Information == */
/* ========================================= */
.main_section > .side_content > .advertisement_field {
    width: 100%;
    background: linear-gradient(250deg, rgba(255,0,0,.8), rgba(255,0,0,0));
    height: 14rem;
    text-align: center;
    margin: 1rem 0;
}

.main_section > .side_content > .advertisement_field > p {
    padding: 20%;
    font-weight: bold;
    letter-spacing: 0.5rem;
}
/* ========================================= */
/* == End advertisement Information == */
/* ========================================= */

/* ========================================= */
/* == Start Shopping Category == */
/* ========================================= */
.main_section > .side_content > .shopping_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.main_section > .side_content > .shopping_options > .shopping_main_option > p {
    font-weight: bold;
    font-size: 1.2rem;
}

.main_section > .side_content > .shopping_options > .shopping_main_categories > .shopping_category_opt {
    display: flex;
    justify-content: space-evenly;
}

.main_section > .side_content > .shopping_options > .shopping_main_categories > .shopping_category_opt p {
    margin-right: 0.8rem;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.main_section > .side_content > .shopping_options > .shopping_main_categories > .shopping_category_opt p:hover {
    color: var(--main_logo_color);
    text-decoration: underline;
}

.main_section > .side_content > .shopping_section_container {
    border: 1px solid var(--media_grid_line);
}

.main_section > .side_content > .shopping_section_container >.shopping_places {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid var(--media_grid_line);
}

.main_section > .side_content > .shopping_section_container > .shopping_places > span {
    font-size: 0.7rem;
    margin-top: 0.1rem;
    color: var(--font_color);
    cursor: pointer;
}

.main_section > .side_content > .shopping_section_container > .shopping_places > span:hover {
    color: rgb(29, 29, 29);
    text-decoration: underline;
}
/* ========================================= */
/* == End Shopping Information == */
/* ========================================= */

