/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Root for color setting */
:root {
    --menu_font_color: rgb(75, 75, 75);
    --menu_back_ground_color: rgb(248, 248, 248);
    --main_section_font_color: rgb(230, 230, 230);
    --aqua_color: rgb(186, 243, 243);
}

/* Root End */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

/* Global CSS */
a {
    text-decoration: none;
    color: var(--menu_font_color);
}

li {
    list-style: none;
}

button {
    background-color: var(--aqua_color);
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
}

/* Global End */

/* Navigation Start */
.nav_section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
    background-color: var(--menu_back_ground_color);
    padding: 0rem 1rem;
}

.nav_section .burger_menu {
    cursor: pointer;
    display: none;
}

.nav_section .header
,   .external_links {
    flex: 1;
}

.nav_section .header a {
    font-size: 1.5rem;
    display: block;
}

.nav_section .header a:hover {
    color: var(--aqua_color);
}

.nav_section .nav_links {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_section .nav_links a {
    font-size: 1.1rem;
    padding: 0rem 1rem;
}

.nav_section .nav_links li:hover {
    background-color: var(--aqua_color);
}

.external_links {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
}

.external_links a {
    padding: 0 0.4rem;
}

.external_links a:hover {
    background-color: var(--aqua_color);
}

    /* hamburger load nav_links */
.display_nav_links  {
    transition: top 0.5s ease-in-out;
    top: 100% !important;
}
    /* End hamburger load nav_links */
/* Navigation End */

/* =============================================== */

/* Main Section Start */
.main_section {
    background-image: url(../assets/Background-image.png);
    height: 75vh;
    width: 90%;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main_section .main_intro {
    color: var(--main_section_font_color);
    margin: 10rem 0;
    text-align: center;
}

.main_section .main_intro h3 
,   .main_section .main_intro h2 
{
    padding: 1rem 0rem;
}

.main_section .main_intro h2 {
    font-size: 2rem;
}

.main_section .main_intro .main_intro_btn:hover {
    background-color: transparent;
    border: 1px solid var(--main_section_font_color);
    color: var(--main_section_font_color);
}

/* End Main Section  */

/* =============================================== */

/* Main Information Section */
.main_info_container {
    width: 90%;
    background-image: url('../assets/Abract01.png');
    background-position: right;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 50vh;
}

.main_arrow {
    /* background-color: red; */
    text-align: center;
}

.main_arrow a {
    margin: 0rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.main_info_container .main_info {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
}

.main_info_container .main_info .main_info_blog {
    flex: 1;
    text-align: center;
    margin: 3rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 3px rgb(85, 85, 85);
}

.main_info_container .main_info .main_info_blog img {
    border-radius: 0.5rem;
}

.main_info_container .main_info .main_info_blog h3 {
    height: 4rem;
}

.main_info .main_info_blog .blog_btn_container .blog_btn:hover {
    background-color: transparent;
    border: 1px solid var(--main_section_font_color);
    color: black;
    font-weight: bold;
}

.main_info_container .main_info .main_info_blog .blog_btn_container span {
    margin: 1rem 0;
    display: block;
}

/* Query Selector Width 750px */
@media (max-width: 750px) {
    body {
        /* overflow: hidden; */
        /* overflow-y: hidden; */
    }
/* Navigation Start */
    .nav_section {
        display: flex;
        position: relative;
        justify-content: space-evenly;
    }

    .nav_section .burger_menu {
        display: initial;
        flex: 1;
    }
    
    .nav_section .burger_menu i {
        font-size: 1.5rem;
    }

    .nav_section .header {
        flex: 1;
    }

    .nav_section .nav_links {
        display: block;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: -1500%;
        left: 0;
        background-color: var(--menu_back_ground_color);
    }

    .nav_section .nav_links li {
        padding: 1rem;
    }
/* End Navigation */
}