@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background_color: rgba(144, 138, 138, 0.7);
    --menu_icon_color: rgb(214, 214, 214);
}

body {
    background-image: url("../images/LookUp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header {
    background-color: var(--background_color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--menu_icon_color);
}

header nav ul {
    display: flex;
    /* Time to play around */
}

header nav ul li {
    padding: 0 1.1rem;
    list-style: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
}

header nav ul li a {
    color: var(--menu_icon_color);
    text-decoration: none;
    border-bottom: 2px solid white;
}

header .outer__src  i {
    font-size: 1.4rem;
    margin: 0rem 0.7rem;
    color: var(--menu_icon_color);
    border-bottom: 2px solid white;
}

header nav ul li a:hover {
    border-bottom: 5px solid white;
}

section .main_container {
    padding: 10rem;
}

section .main_container h1{
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.8rem;
    color: var(--menu_icon_color);
}

section .main_contents {
    color: var(--menu_icon_color);
}

section .main_contents p {
    text-align: center;
    margin: 1rem 20rem;
    letter-spacing: 0.2rem;
}

section .main_contents_btn {
    margin: 1rem 23rem;
    /* background-color: pink; */
    text-align: center;
}

section .main_contents_btn button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--menu_icon_color);
    color: var(--menu_icon_color);
    transition: background-color 0.2s ease-in;
}

section .main_contents_btn button:hover {
    color: rgb(36, 36, 36);
    background-color: var(--menu_icon_color);
}

section .footer {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 8rem auto;
    cursor: pointer;
    transition: font-size 0.3s ease-in;
}

section .footer i:hover {
    font-size: large;
}
