* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  background-color: rgb(190, 190, 190);
  align-items: center;
  padding: 0.5rem;
}

.navbar > h1 {
  flex: 1;
}

.navbar > .menu_contents {
  display: flex;
  justify-content: space-evenly;
  flex: 2;
}

.navbar > .menu_contents li {
  list-style: none;
}

.navbar .sign_contents {
  list-style: none;
}

/* Todo Item */
.todo_Container {
  margin: 1rem;
  list-style: none;
}

.todo_Container > li {
  margin: 1rem;
  border-bottom: 1px solid gray;
  padding: 1rem;
}

.todo_Container > li > input {
  margin-right: 0.5rem;
  cursor: pointer;
}