* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(220deg, rgb(255, 221, 226) , rgb(253, 124, 143));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.todolist_container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

.todolist_container .header {
    font-size: 1.8rem;
    padding: 2rem;
}

.todolist_container .todolist_add input, 
.todolist_container .todolist_add button
{
    padding: 0.5rem;
    border: none;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}

.todolist_container .todolist_add button:hover {
    background-color: rgb(250, 115, 52);
}

.todolist_container .selection_filter_container {
    margin-top: 1rem;
    text-align: center;
}

.todolist_container .selection_filter_container #todo_filter {
    width: 80%;
    height: 5vh;
    font-size: 1rem;
    color: rgb(212, 150, 150);
    border: none;
    border-radius: 1rem;
    
}

.todo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo_container .todolist_ul {
    min-width: 30%;
    list-style: none;
}

.todo_list {
    display: flex;
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    transition: all 1.0s ease;
}

.todo_list li {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.todo_list button {
    background-color: yellow;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    color: white;
}

.todo_list .completed_btn {
    background-color: green;
}

/* .todo_list .completed_btn:hover {
    transform: rotateZ(10deg);
} */

.todo_list .trash_btn {
    background-color: red;
}

.todo_list .trash_btn:hover {
    transform: rotateZ(10deg);
}

.todo_list .fa-trash {
    pointer-events: none;
}

.todo_list .fa-thumbs-up {
    pointer-events: none;
}

.delete {
    transform: translateY(30rem) rotateZ(30deg);
    opacity: 0;
}

.completed {
    opacity: 0.5;
    text-decoration: line-through;
}
