@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --logo_btn_color: rgb(231, 36, 36);
    --logo_font_color: rgb(223, 223, 223);
    --content_seperator: rgb(163, 163, 163);
    --background_color: rgb(12, 12, 12);
    --faq_background_color: rgb(61, 61, 61);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background_color);
}
/* ==================================== */
/* ============Logo With Top============ */
/* ==================================== */
.top_main {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    position: relative;
    filter: drop-shadow(12px 12px 12px rgb(105, 105, 105));
}

.top_main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 0.8);
    box-shadow: inset 100px 100px 100px 60px black;
    z-index: 1;
}

section > header {
    display: flex;
    justify-content: space-between;
}

section > header > img {
    width: 180px;
    z-index: 2;
    margin: 2rem 5rem;
}

section > header > .signin {
    width: 6rem;
    height: 2rem;
    background-color: var(--logo_btn_color);
    text-align: center;
    padding: 0.2rem;
    margin: 2rem 5rem;
    z-index: 2;
}

section > header > .signin a {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--logo_font_color);
    text-decoration: none;
}
/* ==================================== */
/* ========END Logo With Top=========== */
/* ==================================== */

/* ==================================== */
/* ============== Main Top ============ */
/* ==================================== */

.top_main > .sub_main {
    position: relative;
    margin: 6rem auto;
    text-align: center;
    z-index: 2;
}

.top_main > .sub_main > h1 {
    color: var(--logo_font_color);
    font-size: 3.5rem;
}

.top_main  > .sub_main p {
    color: var(--logo_font_color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0rem;
}

.top_main > .sub_main > #email_submit > .form_group {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.top_main > .sub_main > #email_submit > .form_group > input[type="text"] {
    width: 40%;
    height: 3rem;
}
/* Get back later */
.top_main > .sub_main > #email_submit > .form_group > span > .email_btn {
    height: 3rem;
    color: var(--logo_font_color);
    background-color: red;
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.top_main > .sub_main > p {
    font-size: 0.8rem;
}

/* ===TODO:Fix line issue==================== */
/* ============== Main Top ============ */
/* ==================================== */

/* content1 */
section > .content1_hr {
    height: 0.5rem;
    background-color: var(--content_seperator);
}

section > .content1_main {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 1rem auto;
}

section > .content1_main > .left_content1 {
    color: var(--logo_font_color);
    flex: 1;
    padding: 7rem 0rem;
}

section > .content1_main > .left_content1 h3 {
    font-size: 3rem;
}

section > .content1_main > .left_content1 p {
    font-size: 1.5rem;
    font-weight: bold;
}

section > .content1_main > .right_content1 {
    flex:1;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

section > .content1_main > .right_content1 img {
    width: 380px;
}
/* End content1 */

/* Content 2 */

section > .content2_main {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 1rem auto;
}

section > .content2_main > .left_content2 {
    flex: 1;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

section > .content2_main > .left_content2 img {
    width: 380px;
}

section > .content2_main > .right_content2 {
    color: var(--logo_font_color);
    flex: 1;
    padding: 7rem 0rem;
}

section > .content2_main > .right_content2 h3 {
    font-size: 3rem;
}

section > .content2_main > .right_content2 p {
    font-size: 1.5rem;
    font-weight: bold;
}
/* End Content 2 */
/* Content 3 */
section > .content1_main > .left_content3 {
    flex: 1;
    color: var(--logo_font_color);
    padding: 7rem 0rem;
}

section > .content1_main > .left_content3 h3 {
    font-size: 3rem;
}

section > .content1_main > .left_content3 p {
    font-size: 1.5rem;
    font-weight: bold;
}

section > .content1_main > .right_content3 {
    flex: 1;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

section > .content1_main > .right_content3 img {
    width: 380px;
}
/* End Content3 */

/* FAQ Start */
section > .content_faq {
    width: 50%;
    margin: 3rem auto;
}

section > .content_faq > h3 {
    font-size: 3rem;
    text-align: center;
    color: var(--logo_font_color);
    margin-bottom: 3rem;
}

section > .content_faq > .faq_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section > .content_faq > .faq_list ul li {
    position: relative;
    list-style: none;
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: var(--logo_font_color);
    background-color: var(--faq_background_color);
    cursor: pointer;
}

section > .content_faq > .faq_list ul li span {
    position: absolute;
    top: 1rem;
    right: 2rem;
    align-items: center;
}

section > .content_faq > .faq_list ul li span i {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

section > .content_faq > .faq_list > ul > .toggle_item {
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    background-color: var(--faq_background_color);
    color: var(--logo_font_color);
    display: none;
}

.toggle_data {
    display: block !important;
}


/* FAQ input field */
section > .content_faq > .input_field {
    margin: 3rem auto;
    width: 100%;
}

section > .content_faq > .input_field > #email_submit_faq_field > .form_group {
    display: flex;
    justify-content: center;
    margin: 0rem auto;
}

section > .content_faq > .input_field > #email_submit_faq_field > .form_group input[type="text"] {
    width: 72%;
    height: 4rem;
}

section > .content_faq > .input_field > #email_submit_faq_field > .form_group >  span > button {
    width: auto;
    height: 4rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    color: var(--logo_font_color);
    background-color: red;
}

section > .content_faq > .last_Statement_in_faq {
    margin-top: 3rem auto;
}

section > .content_faq > .last_Statement_in_faq > p {
    color: var(--logo_font_color);
    text-align: center;
}

/* Footer Start */
footer {
    color: var(--logo_font_color);
    /* width: 80%; */
    height: 35vh;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 2rem 15rem;
}

footer > .footer_question {
    margin-bottom: 1rem;
    cursor: pointer;
}

footer > .footer_question > p > .phone_number:hover {
    text-decoration: underline;
}

footer > .footer_content {
    display: flex;
    justify-content: space-between;
}

footer > .footer_content > .footer_content1 {
    display: flex;
    flex-direction: column;
}

footer > .footer_content > .footer_content1 > span {
    margin: 0.4rem 0rem;
}

footer > .footer_content > .footer_content1  > span > a {
    text-decoration: none;
    color: var(--logo_font_color);
    font-size: 0.8rem;
}

footer > .footer_content > .footer_content1 > span > a:hover {
    text-decoration: underline;
}

footer > .footer_language_btn {
    margin-top: 1rem;
    border: 1px solid var(--logo_font_color);
    width: 20%;
    padding: 1rem;
    text-align: center;
}

footer > .footer_language_btn > .globe_icon {
    margin-right: 0.5rem;
}
/* End Footer */

/* Media Query */
/* Width 1494px */
@media (max-width: 1494px) {
    section > .content_faq > .input_field > #email_submit_faq_field > .form_group {
        display: flex;
        justify-content: center;
    }
    section > .content_faq > .input_field > #email_submit_faq_field > .form_group input[type="text"] {
        flex: 2;
    }
    section > .content_faq > .input_field > #email_submit_faq_field > .form_group span button {
        flex: 1;
    }
}

/* Width 1160px */
@media (max-width: 1160px) {
    footer > .footer_language_btn {
        margin-top: 1rem;
        border: 1px solid var(--logo_font_color);
        width: 25%;
        padding: 1rem;
        text-align: center;
    }
}

@media (max-width: 1020px) {
    section > .content_faq {
        width: 80%;
        background-color: red;
    }

    footer {
        padding: 2rem 10rem;
    }
}

@media (max-width: 950px) {
    section > .content1_main {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    section > .content1_main > .left_content1 {
        padding: 0;
        text-align: center;
    }

    section > .content1_main > .left_content1 h3 {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    section > .content1_main > .left_content1 p {
        font-size: 1rem;
    }

    section > .content1_main > .right_content1 {
        margin-top: 1rem;
        justify-content: center;
    }

    section > .content1_main > .right_content1 img {
        text-align: center;
        width: 480px;
    }

    /* Content 2 */
    section > .content2_main {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0 auto;
    }
    section > .content2_main  > .left_content2 {
        margin-top: 1rem;
        justify-content: center;
    }

    section > .content2_main > .left_content2 img {
        text-align: center;
        width: 480px;
    }

    section > .content2_main > .right_content2 {
        padding: 0;
        text-align: center;
    }
    
    section > .content2_main > .right_content2 h3 {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    section > .content2_main > .right_content2 p {
        font-size: 1rem;
    }
    /* End Content2 */

    /* Content 3 */
    section > .content1_main > .left_content3 {
        padding: 0;
        text-align: center;
    }

    section > .content1_main > .left_content3 h3 {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    section > .content1_main > .left_content3 p {
        font-size: 1rem;
    }

    section > .content1_main > .right_content3 {
        margin-top: 1rem;
        justify-content: center;
    }

    section > .content1_main > .right_content3 img {
        text-align: center;
        width: 480px;
    }

    /* End Content3 */
    .top_main > .sub_main > #email_submit > .form_group {
        display: inline-block;
        width: 60%;
    }

    .top_main > .sub_main > #email_submit > .form_group > input[type="text"] {
        width: 100%;
        margin: 1rem;
    }
    
    section > .content_faq > .input_field > #email_submit_faq_field > .form_group {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    section > .content_faq > .input_field > #email_submit_faq_field > .form_group input[type="text"] {
        width: 100%;
        margin-bottom: 1rem;
    }

    section > .content_faq > .input_field > #email_submit_faq_field > .form_group >  span > button {
        margin-left: 25%;
        height: 3rem;
    }

    footer {
        padding: 2rem 5rem;
    }
}
