@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --basic_font_color: rgb(41, 41, 41);
    --button_color: rgb(136, 49, 136);
    --hamburger_menu_color: rgb(119, 119, 119);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header_section {
    display: flex;
    width: 80%;
    min-height: 5vh;
    margin: 1rem auto;
    align-items: center;
}

header {
    display: flex;
}

header h3 {
    color: var(--basic_font_color);
}

header
,.shopping_cart
{
    flex: 1;
}

nav {
    flex: 2;
    width: auto;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

/* javascript hamburger menu helper */

.activate_hamburger_menu {
    transform: translateY(0%) !important;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--basic_font_color);
}

.hamburger {
    flex: 1;
    /* background-color: red; */
    display: none;
}

.header_section .hamburger .hamburger_line {
    width: 20px;
    background-color: var(--basic_font_color);
    height: 0.4vh;
    margin: 0.4rem;
}

.shopping_cart {
    display: flex;
    justify-content: flex-end;
}

.main {
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    margin: 0 auto;
}

.main .main_introduction {
    flex: 1;
    align-items: center;
    /* width: 40rem;  */
    padding-bottom: 10rem;
    margin-top: 10rem;
}

.main .main_introduction .intro_title {
    letter-spacing: 0.5rem;
    font-size: 2rem;
    color: var(--basic_font_color);
}

.main .main_introduction .intro_explain {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    color: var(--basic_font_color);
}

.main .main_introduction .intro_button {
    width: 20rem;
    align-items: center;
}

.main .main_introduction .intro_button button {
    height: 2.5rem;
    width: 8em;
    margin: 0rem 1rem 0rem 0rem;
    background: transparent;
    border: 1.5px solid var(--button_color);
    font-weight: 500;
    font-size: 1rem;
}

.main .main_introduction .intro_button .inch_btn 
,   .main .main_introduction .intro_button .cart_btn
{
    color: var(--button_color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.main .main_introduction .intro_button .inch_btn:hover
,   .main .main_introduction .intro_button .cart_btn:hover {
    background-color: var(--button_color);
    color: white;
}

.main .laptop_image {
    display: flex;
    justify-content: center;
    flex: 1;
    animation-name: dropImage;
    animation-duration: 0.6s;
    position: relative;
}

.main .laptop_image img {
    width: 35rem;
    filter: drop-shadow(0px 3px 15px black);
}

.footer {
    display: flex;
    position: absolute;
    width: 15%;
    justify-content: space-around;
    right: 23%;
}



@keyframes dropImage {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    20% {
        opacity: 0.4;
        transform: translateY(-80%);
    }
    40% {
        opacity: 0.5;
        transform: translateY(-50%);
    }
    50% {
        opacity: 0.6;
        transform: translateY(-30%);
    }
    70% {
        opacity: 0.8;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1300px) {
    .footer {
        display: flex;
        position: absolute;
        width: 15%;
        justify-content: space-around;
        right: 27%;
    }
}

@media (max-width: 1035px) {
    section .main .laptop_image {
        width: 20%;
    }
    
    .footer {
        display: flex;
        position: absolute;
        width: 15%;
        justify-content: space-around;
        right: 22%;
    }
}

@media (max-width: 940px) {
    section .main .laptop_image {
        width: 20%;
    }
    
    .footer {
        display: flex;
        position: absolute;
        width: 15%;
        justify-content: space-around;
        right: 19%;
    }
}

@media (max-width: 900px) {
    section .main .laptop_image {
        width: 20%;
    }
    
    .footer {
        display: flex;
        position: absolute;
        width: 15%;
        justify-content: space-around;
        right: 16%;
    }
}

@media (max-width: 850px) {
    section .main .laptop_image {
        width: 20%;
    }
    
    .footer {
        display: flex;
        position: absolute;
        width: 15%;
        justify-content: space-around;
        right: 10%;
    }
}

@media (max-width: 770px) {
    section .main .laptop_image {
        width: 20%;
    }
    
    .footer {
        display: flex;
        position: absolute;
        width: 15%;
        justify-content: space-around;
        right: 7%;
    }
}

@media (max-width: 760px) {
    body {
        overflow-x: hidden;
    }
    .header_section {
        width: 80%;
    }

    .header_section header {
        flex:3;
        font-size: 0.7rem;
    }

    .header_section nav ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        text-align: left;
        transform: translateY(-280%);
        top: 10vh;
        left: 10%;
        background-color: rgb(240, 240, 240);
        width: 80%;
        z-index: 1;
    }

    .header_section nav ul li {
        font-size: 2rem;
        padding-top: 1rem;
    }

    .hamburger {
        flex: 1;
        display: block;
        cursor: pointer;
        /* background-color: red; */
    }
    
    .header_section .hamburger .hamburger_line {
        width: 40px;
        background-color: var(--hamburger_menu_color);
        height: 0.7vh;
        margin: 0.4rem;
        /* background-color: yellow; */
    }

    .main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .main .main_introduction {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem 0rem 1rem;
        align-items: center;
        margin: 2rem 2rem 0rem 2rem;
        text-align: center;
    }

    .main .laptop_image img {
        width: 30rem;
    }

    .footer {
        width: 80%;
        display: relative;
        justify-content: space-evenly;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .main .laptop_image img {
        width: 20rem;
    }
}
